@model UserInfoForm
@{
    ViewData["Title"] = "Edit " + ViewData["id"];
    var i = 0;
    var list = new SelectList(Model.Professions.Select(
        x => new { Id = i++, Title = x })
        .ToList(), "Id", "Title");

    var userSkills = ViewData["userSkills"] as List<UserSkill>;
    var skills = ViewData["skills"] as List<Skill>;
    var availableSkills = ViewData["availableSkills"] as List<Skill>;
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="UserInfo" asp-action="Edit" asp-route-id="@ViewData["id"]">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_UserInfoFormFields", Model, new ViewDataDictionary(ViewData) {
                    {"professions", list}
                })
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
    <div>
        <table class="table table-hover" data-user-id="@ViewData["id"]">
            <thead>
            </thead>
            <tbody>
                @foreach (var userSkill in userSkills)
                {
                    <tr data-model-id="@userSkill.Id">
                        <td>
                            @if (userSkill.Skill.Icon != null)
                            {
                                <img style="max-width: 50px;" class="img-thumbnail" src="@userSkill.Skill.Icon.Src" />
                            }
                        </td>
                        <td>
                            @userSkill.Skill.Title
                        </td>
                        <td>
                            <input class="skill-level form-control" type="number" min="1" max="100" value="@userSkill.Level" />
                        </td>
                        <td>
                            <button class="btn btn-primary edit-skill">Edit</button>
                            <button class="btn btn-danger delete-skill">Remove</button>
                        </td>
                    </tr>
                }
                
                @foreach (var skill in availableSkills)
                {
                    <tr data-model-id="@skill.Id">
                        <td>
                            @if (skill.Icon != null)
                            {
                                <img style="max-width: 50px;" class="img-thumbnail" src="@skill.Icon.Src" />
                            }
                        </td>
                        <td>
                            @skill.Title
                        </td>
                        <td>
                            <input class="skill-level" typeof="number" min="1" max="100" value="" />
                        </td>
                        <td>
                            <button class="btn btn-success add-skill">Add</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-area=""
       asp-controller="UserInfo"
       asp-action="Index"
       class="btn btn-primary">Return</a>
</div>


@section Scripts {
    <script>
        
        document.querySelectorAll(".add-skill").forEach(el => {
            el.addEventListener("click", e => {
                const row = e.target.closest("tr");
                const skillId = row.getAttribute("data-model-id");
                const userId = document.querySelector("table").getAttribute("data-user-id");
                const level = row.querySelector("input.skill-level").value;

                const data = {
                    SkillId: skillId,
                    UserId: userId,
                    Level: level
                };

                fetch(`/UserInfo/AddSkill/${userId}`, {
                    method: "post",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(data)
                }).then(() => {
                    window.location.reload();
                })
                    .catch(err => {
                        console.log(err);
                    });
            });
        });

        document.querySelectorAll(".delete-skill").forEach(el => {
            el.addEventListener("click", e => {
                const row = e.target.closest("tr");
                const skillId = row.getAttribute("data-model-id");
                const userId = document.querySelector("table").getAttribute("data-user-id");

                const data = {
                    SkillId: skillId,
                    UserId: userId
                }

                fetch(`/UserInfo/DeleteSkill/${id}`, {
                    method: "post",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                .then(() => {
                    window.location.reload()
                })
                .catch(err => {
                    console.log(err)
                })
            })
        })

        document.querySelectorAll(".edit-skill").forEach(el => {
            el.addEventListener("click", e => {
                const row = e.target.closest("tr");
                const skillId = row.getAttribute("data-model-id");
                const userId = document.querySelector("table").getAttribute("data-user-id");
                const level = row.querySelector("input.skill-level").value;

                const data = {
                    SkillId: skillId,
                    UserId: userId,
                    Level: level
                };

                fetch("/UserInfo/EditSkill", {
                    method: "post",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(data)
                }).then(() => {
                    window.location.reload();
                })
                    .catch(err => {
                        console.log(err);
                    });
            });
        });
    </script>
}


