@model UserInfo
@{

}

<div>
    <h1>Hello @Model.Name</h1>
    <h3>Email @Model.Email</h3>
    <div>Profession: @Model.Profession</div>
    
    <div class="text-center">
        <h2>My skills</h2>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Title</th>
                    <th>Progress bar</th>
                    <th>%</th>
                </tr>
                @foreach (var skill in Model.Skills)
                {
                    <tr>
                        <td>@skill.Title</td>
@*                         <td>
                            <div class="progress">
                                <div class="progress-bar" style="width:@skill.Level%;"></div>
                            </div>
                        </td>
                        <td>@skill.Level %</td> *@
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="UserInfo" asp-action="Index"
            class="btn btn-outline-success">Return</a>
    </div>
</div>